@{
    ViewData["Title"] = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anket Katılım Nedeni</title>
    <link rel="stylesheet" href="~/css/aboutus.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Çalışan Memnuniyeti Anketi</h1>
        </header>
        <main>
            <section class="reason">
                <h2>Neden Katılmalısınız?</h2>
                <p>Sevgili Çalışanlarımız,</p>
                <p>Çalışma ortamımızı daha iyi hale getirebilmek ve sizlerin memnuniyetini artırmak adına bir anket düzenliyoruz. Bu anket, sizlerin iş yerindeki deneyimlerinizi, beklentilerinizi ve önerilerinizi bize iletmenizi sağlayacaktır.</p>
                <p>Katılımınızın bizim için çok değerli olduğunu belirtmek isteriz. İşte anketimize katılmanız için bazı nedenler:</p>
                <ul>
                    <li><strong>Görüşleriniz Dinleniyor:</strong> Anket sayesinde iş yerindeki deneyimlerinizi ve memnuniyetinizi doğrudan ifade edebilirsiniz.</li>
                    <li><strong>İyileştirme Fırsatları:</strong> Geribildirimleriniz, çalışma koşullarımızı ve ortamımızı iyileştirmek için bize yol gösterecektir.</li>
                    <li><strong>Katkınızın Karşılığını Alacaksınız:</strong> Anket sonuçlarına dayanarak yapılan iyileştirmelerle daha konforlu bir çalışma ortamı sağlanacaktır.</li>
                    <li><strong>Gizliliğiniz Güvence Altında:</strong> Anket sonuçlarınız tamamen gizli tutulacak ve sadece toplu veriler kullanılarak analiz edilecektir.</li>
                </ul>
                <p>Katılımınız için şimdiden teşekkür ederiz. Daha iyi bir çalışma ortamı yaratmak için birlikte çalışmak bizim için büyük bir önem taşıyor.</p>
               <div id="buton"> 
                    <a href="~/Home/Anket" class="btn">Ankete Başla</a>
               </div>
            </section>
        </main>
        <footer>
            <p>&copy; 2024 Şirketiniz. Tüm hakları saklıdır.</p>
            <p>Github: eniszgr</p>
        </footer>
    </div>
</body>
</html>
