@using AnketProjesi.Repository.Models
@model List<Anket>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        
        .rendererBody {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 80vh;
            margin: auto; /* Center the container itself */
        }

        table {
            border: 1px solid black;
            border-collapse: collapse;
            width: 100%;
            margin-top: 5vh;
        }

            table th, table td {
                border: 1px solid black;
                padding: 15px 30px; /* Increase padding as needed */
            }
    </style>
</head>
<body>
    <div class="rendererBody">
        <table>
            <tr>
                <th>Kişi ID</th>
                <th>Meslek</th>
                <th>Durum</th>
            </tr>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.AnketId</td>
                    <td>@x.Tur.TurName</td>
                    <td>@x.Tip.TipName</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
