@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .rendererBody {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 80vh;
            height: 80vh;
            margin: auto; /* Center the container itself */
           
        }
    </style>
</head>
<body>
    <div class="rendererBody">
        <h3>body</h3>
    </div>
</body>
</html>
